body {
  font-family: 'Inconsolata', monospace;
  background: rgb(244,244,244);
  background: radial-gradient(circle, rgba(244,244,244,1) 0%, rgba(210,210,210,1) 100%);
  max-width: 1000px;
  margin: auto;
}
/* POSTS STYLES */
.post{
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post__title{
  text-align: center;
}
.post__img {
  width: 500px;
  height: 300px;
}
.post__text{
  color: white;
  font-family: 'Roboto', sans-serif;
}
.post__date{
  align-self: end;
  font-size: 0.8rem;
  font-weight: 300;
  color: grey;
}
